---
import Container from "../components/Container.astro";
import DiscordButton from "./DiscordButton.astro";
import { getCollection } from "astro:content";

const acronyms = ["tfp", "vc", "icj", "lp", "emr"];

export function capitalizeFirstLetter(string: string) {
  return acronyms.includes(string.toLowerCase())
    ? string.toUpperCase()
    : string.charAt(0).toUpperCase() + string.slice(1);
}

// Get all entries from the projects collection
const projectEntries = await getCollection("projects");
const project_items = projectEntries
  .map((entry) => {
    return {
      name: entry.data.title,
      description: entry.body || " ",
      discord_channel_url: entry.data.channel,
      website_url: entry.data.url || " ",
    };
  })
  .sort((a, b) => a.name.localeCompare(b.name));
---

<section class="bg-white py-24" id="projects-list">
  <Container>
    <div class="space-y-8">
      <div class="space-y-2 text-center">
        <h2 class="text-4xl font-medium">Browse our projects</h2>
        <div class="py-2">
          <DiscordButton>Join our Discord to explore projects</DiscordButton>
        </div>
      </div>
      <div class="divide-y divide-solid overflow-hidden rounded-md border bg-white shadow-sm">
        {
          project_items.map(({ name, description, discord_channel_url }) => (
            <div class="flex items-center justify-between gap-4 p-4 text-zinc-900 hover:bg-zinc-50">
              <div class="flex flex-grow items-center gap-4">
                <img
                  src={"https://avatars.githubusercontent.com/u/151086389?s=200&v=4"}
                  class="h-10 w-10 rounded-lg"
                />
                <div>
                  <h3 class="font-semibold">{name}</h3>
                  <p class="overflow-hidden text-ellipsis text-sm text-zinc-600">
                    {description.length > 120 ? description.slice(0, 120) + "..." : description}
                  </p>
                </div>
              </div>
              <div class="flex flex-col md:flex-row">
                {discord_channel_url && (
                  <a
                    class="flex items-center justify-between p-4 text-zinc-900 hover:bg-zinc-50"
                    href={discord_channel_url}
                    target="_blank"
                  >
                    <img class="h-6" src="/discord.png" />
                  </a>
                )}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</section>
