---
import * as Icon from "@astropub/icons";
import Container from "../components/Container.astro";
import { Client } from "@notionhq/client";
import DiscordButton from "./DiscordButton.astro";
import type { QueryDatabaseResponse } from "@notionhq/client/build/src/api-endpoints";

// Initializing a client
const notion = new Client({
  auth: import.meta.env.PUBLIC_NOTION_TOKEN,
});

const acronyms = ["tfp", "vc", "icj", "lp", "emr"];

function capitalizeFirstLetter(string: string) {
  return acronyms.includes(string.toLowerCase())
    ? string.toUpperCase()
    : string.charAt(0).toUpperCase() + string.slice(1);
}

const projects: QueryDatabaseResponse = await notion.databases.query({
database_id: "a50e07cf1aa642cf84e529bd64970fd8",
  sorts: [
    {
      property: "Name",
      direction: "ascending",
    },
  ],
  filter: {
    and: [
      {
        property: "Status",
        select: {
          equals: "Onboarded",
        },
      },
    ],
  },
});

const project_items = projects.results
  .map((project: any) => {
    return {
      name: project.properties["Project Name"].rich_text[0]?.plain_text,
      description:
        project.properties["Elevator Pitch"].rich_text[0]?.plain_text || " ",
      discord_channel_url: project.properties["Discord Channel"].url,
      website_url: project.properties["Website URL"].rich_text[0]?.plain_text || " ",
    };
  })

  console.log(project_items);
---

<section class="py-24 bg-white" id="projects-list">
  <Container>
    <div class="space-y-8">
      <div class="text-center space-y-2">
        <h2 class="font-medium text-4xl">Browse our projects</h2>
        <div class="py-2">
          <DiscordButton>Join our Discord to explore projects</DiscordButton>
        </div>
      </div>
      <div
        class="divide-y divide-solid border rounded-md overflow-hidden bg-white shadow-sm"
      >
        {
          project_items.map(
            ({
              name,
              description,
              discord_channel_url,
            }) => (
              <div class="flex gap-4 justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50">
                <div class="flex-grow flex gap-4 items-center">
                  <img
                    src={
                      "https://avatars.githubusercontent.com/u/151086389?s=200&v=4"
                    }
                    class="w-10 h-10 rounded-lg"
                  />
                  <div>
                    <h3 class="font-semibold">{name}</h3>
                    <p class="text-ellipsis overflow-hidden text-sm text-zinc-600">
                      {description.length > 120
                        ? description.slice(0, 120) + "..."
                        : description}
                    </p>
                  </div>
                </div>
                <div class="flex flex-col md:flex-row">
                  {discord_channel_url && (
                    <a
                      class="flex justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50"
                      href={discord_channel_url}
                      target="_blank"
                    >
                      <img class="h-6" src="/discord.png" />
                    </a>
                  )}
                </div>
              </div>
            ),
          )
        }
      </div>
    </div>
  </Container>
</section>
