---
import * as Icon from "@astropub/icons";
import Container from "../components/Container.astro";
import { Client } from "@notionhq/client";
import DiscordButton from "./DiscordButton.astro";
import type { QueryDatabaseResponse } from "@notionhq/client/build/src/api-endpoints";

// Initializing a client
const notion = new Client({
  auth: import.meta.env.NOTION_TOKEN,
});

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}

const projects: QueryDatabaseResponse = await notion.databases.query({
  database_id: "c4180f9f1b6449f79d0a84645d92879c",
  sorts: [
    {
      property: "Name",
      direction: "ascending",
    },
  ],
});

const project_items = projects.results
  .map((project: any) => {
    return {
      category: project.properties.Category.select?.name,
      start_date: project.properties["Start date"].date?.start,
      logo: project.properties.Logo.files[0]?.name,
      name: project.properties.Name.title[0]?.plain_text
        .split("-")
        .map(capitalizeFirstLetter)
        .join(" "),
      description: project.properties.Description.rich_text[0]?.plain_text,
      discord_channel_url: project.properties.ChannelURL.url,
      website_url: project.properties.WebsiteURL.url,
      github_url: project.properties.Github.url,
      published: project.properties.Published.checkbox,
    };
  })
  .filter(
    (project) =>
      project.name &&
      project.description &&
      project.discord_channel_url &&
      project.published,
  );
---

<section class="py-24 bg-white" id="projects-list">
  <Container>
    <div class="space-y-8">
      <div class="text-center space-y-2">
        <h2 class="font-medium text-4xl">Browse our projects</h2>
        <div class="py-2">
          <DiscordButton>Join our Discord to explore projects</DiscordButton>
        </div>
      </div>
      <div
        class="divide-y divide-solid border rounded-md overflow-hidden bg-white shadow-sm"
      >
        {
          project_items.map(
            ({
              name,
              description,
              github_url,
              website_url,
              discord_channel_url,
            }) => (
              <div class="flex gap-4 justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50">
                <div class="flex-grow flex gap-4 items-center">
                  <img
                    src={
                      "https://avatars.githubusercontent.com/u/151086389?s=200&v=4"
                    }
                    class="w-10 h-10 rounded-lg"
                  />
                  <div>
                    <h3 class="font-semibold">{name}</h3>
                    <p class="text-ellipsis overflow-hidden text-sm text-zinc-600">
                      {description.length > 120
                        ? description.slice(0, 120) + "..."
                        : description}
                    </p>
                  </div>
                </div>
                <div class="flex flex-col md:flex-row">
                  {website_url && (
                    <a
                      class="flex justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50"
                      href={website_url}
                      target="_blank"
                    >
                      <Icon.Globe class="w-6 h-6" />
                    </a>
                  )}
                  {github_url && (
                    <a
                      class="flex justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50"
                      href={github_url}
                      target="_blank"
                    >
                      <Icon.GitHubLogo class="w-6 h-6" />
                    </a>
                  )}
                  {discord_channel_url && (
                    <a
                      class="flex justify-between items-center text-zinc-900 p-4 hover:bg-zinc-50"
                      href={discord_channel_url}
                      target="_blank"
                    >
                      <img class="h-6" src="/discord.png" />
                    </a>
                  )}
                </div>
              </div>
            ),
          )
        }
      </div>
    </div>
  </Container>
</section>
