---
import Card from "../components/Card.astro";
---

<Card>
  <div class="space-y-1">
    <p class="text-zinc-800">
      We'll email you when we announce things or need help.
    </p>
  </div>
  <div class="space-y-2">
    <script
      async
      src="https://eocampaign1.com/form/b3aa6848-a407-11ee-a140-73b6d6a648c6.js"
      data-form="b3aa6848-a407-11ee-a140-73b6d6a648c6"></script>
  </div>
</Card>
