---
import Card from "../components/Card.astro";
---

<Card>
  <div class="space-y-8">
    <div class="space-y-2">
      <p class="text-zinc-800">
        <span class="font-medium tracking-tight"> We'll email you</span>
         when we have a way you can help or something to announce.
      </p>
    </div>
    <script
      async
      src="https://eocampaign1.com/form/b3aa6848-a407-11ee-a140-73b6d6a648c6.js"
      data-form="b3aa6848-a407-11ee-a140-73b6d6a648c6"></script>
  </div>
</Card>
