---
import Card from "../components/Card.astro";
---

<Card>
  <div class="space-y-1 text-center">
    <script async src="https://eomail4.com/form/19239af2-f79d-11ef-b1dc-d39ed3d42a2b.js" data-form="19239af2-f79d-11ef-b1dc-d39ed3d42a2b"></script>
  </div>
</Card>
