<div class="flex justify-center">
  <div class="w-full max-w-[560px] text-center">
    <script
      async
      src="https://eomail4.com/form/55d0fc2a-7f13-11f1-903d-7386fb1b3159.js"
      data-form="55d0fc2a-7f13-11f1-903d-7386fb1b3159"></script>
  </div>
</div>
