---
import Card from "../components/Card.astro";
---

<Card>
  <div class="space-y-1 text-center">
    <h2 class="text-2xl font-bold">Sign up for our newsletter</h2>
    <p class="text-zinc-800">
      The best way to stay informed about our latest projects, volunteer
      call-outs, and opportunities.
    </p>
  </div>
  <div class="mt-4">
    <script
      async
      src="https://eocampaign1.com/form/b3aa6848-a407-11ee-a140-73b6d6a648c6.js"
      data-form="b3aa6848-a407-11ee-a140-73b6d6a648c6"></script>
  </div>
</Card>
