# Notion API
NOTION_SECRET=
NOTION_DB_ID=
NOTION_SIGNATORIES_DB_ID=
NOTION_FAQ_DB_ID=
NOTION_IDEAS_DB_ID=
NOTION_SPEAKERS_DB_ID=
NOTION_AGENDA_DB_ID=
NOTION_ENDORSEMENTS_DB_ID=

# Hub API
HUB_API_URL=
HUB_API_KEY=
MEMBERSHIP_INVITE_SECRET=

# QGiv webhook
QGIV_WEBHOOK_SECRET=

# Email Octopus
EO_API_KEY=
