/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-900;
  }
  .tool-box{
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  /* You can place this in your base.css */
  .accordion-item {
    transition: all 0.3s ease-in-out;
  }

  .accordion-header {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .accordion-body {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  .accordion-body.open {
    max-height: 500px;
  }

}
