
---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import "../../styles/base.css";
import * as React from "react";
import ResourceList from "../../components/ResourceList";


const contacts = [
   {
    name: "Instagram",
    url: "https://www.instagram.com/techforpalestine",
    icon: "mdi:instagram",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/tech4palestine",
    icon: "mdi:twitter",
  },
  {
    name: "GitHub",
    url: "https://github.com/TechForPalestine/",
    icon: "mdi:github",
  },
  {
    name: "Discord",
    url: "https://techforpalestine.org/discord-invite",
    icon: "ic:baseline-discord",
  },
];

const resourceSections = [
  {
    name: 'Recruitment Organizations',
    resources: [
      {
        name: 'Apricot',
        url: 'https://apricotinternational.org/',
        logo: '/apricot.jpg',
        description: `Experienced MENA Engineers delivering results and contributing to your product's growth immediately.`,
      },
      {
        name: 'MENA Alliances',
        url: 'https://menaalliances.com/jobsforpalestine/',
        logo: '/mena-alliances-logo.webp',
        description: `Empowering Palestinian Professionals With Job Opportunities`,
      },
      {
        name: 'Gaza Sky Geeks',
        url: 'https://gazaskygeeks.com/',
        logo: '/gaza-sky-geeks-logo.png',
        description: `A leading tech hub in Gaza and the West Bank, fostering the digital economy and future technology leaders since 2011.`,
      },
      {
        name: 'Manara.tech',
        url: 'https://manara.tech/tech-jobs-for-palestine',
        logo: '/manara.png',
        description: `Built to connect top tech talent in the MENA region to global jobs.`,
      },
      {
        name: 'Rising from Ashes',
        url: 'https://bees.to/hire-ps/',
        logo: '/bees-logo-horizontal.webp',
        description: `Connects global companies with remote workers in Palestine via partners like Bees, Flow Accelerator, and GSG.`,
      },
      {
        name: 'TAP',
        url: 'https://www.tapcareers.io/',
        logo: '/tap-logo.svg',
        description: `A career accelerator in Palestine and Jordan offering remote-ready talent.`,
      },
      {
        name: 'Techtative',
        url: 'https://techtative.io/',
        logo: '/techtative-logo.png',
        description: `Premier EOR in Palestine, enabling global orgs to tap into local expertise.`,
      },
      {
        name: 'Olives and Heather',
        url: 'https://www.olivesandheather.com/',
        logo: '/olives-and-heather.png',
        description: `Empowers a new generation of Palestinian marketers through global marketing excellence.`,
      },
      {
        name: 'Gaza Talents',
        url: 'https://gazatalents.com/en',
        logo: '/gazatalents.png',
        description: `Provide quick access for those seeking Professional Skills from Gaza.`,
      },{
        name: 'Youmna',
        url: 'https://www.withyoumna.com/',
        logo: '/youmna.png',
        description: `Achieve more with a proactive, remote Executive Assistant who acts as your "right hand".`,
      },
    ]
  },
  {
    name: 'Freelance',
    resources: [
      {
        name: 'Dribble',
        url: 'https://dribbble.com/freelance-ux-designers-for-hire-gaza-ps',
        logo: '/dribbble-logo.png',
        description: `UX designers from Gaza offering freelance services.`,
      },
      {
        name: 'Upwork',
        url: 'https://www.upwork.com/hire/ps/',
        logo: '/upwork.png', // SVG string if desired
        description: `Hire freelancers from Palestine through Upwork.`,
      },
    ]
  }
];


const logoClasses = `h-10 w-auto md:h-12 lg:h-14`
---

<Layout title="Jobs for Palestinians" description="Find organizations that connect Palestinian job seekers with employers.">
  <main>
    <section class="py-24 px-6 sm:py-40 sm:px-16 md:px-20 lg:flex lg:flex-col lg:items-center">
      <div class="lg:max-w-2xl ">
        <h1 class="text-4xl font-normal sm:text-5xl md:text-6xl">
          Hire
          <span class="font-bold">top talent</span>
          from Palestine and the Middle East
        </h1>
        <p class="mt-4 text-xl sm:text-2xl md:text-3xl">
          Get help hiring engineers, designers and technologists from across the region.
        </p>
        <p class="mt-12 text-lg md:mt-20 md:text-xl">
          Know another good resource? Let us know at:
          {
            contacts.map((contact) => (
                <a
                  href={contact.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="inline-block relative top-1.5 ml-1 text-zinc-950/60 hover:text-zinc-950/80"
                >
                  <span class="sr-only">{contact.name}</span>
                  <Icon name={contact.icon} class="h-6 w-6" />
                </a>
            ))
          }
        </p>
      </div>
      <ResourceList client:only="react" sections={resourceSections}  />

    </section>

  </main>
</Layout>
