---
import SignUpForm from "../structures/SignUpForm.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="About">
  <main>
    <div class="relative isolate">
      <svg
        class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M.5 200V.5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path
            d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)"></rect>
      </svg>
      <div
        class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
        aria-hidden="true"
      >
        <div
          class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
          style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"
        >
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
          <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h1 class="mb-8 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                Let's make tech a driving force for Palestinian freedom and liberation
              </h1>

              <h2 class="text-xl font-bold tracking-tight text-green-800 sm:text-4xl">
                Technology should disrupt the status quo — not serve it.
              </h2>
              <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
                For decades, the narrative about Palestine has been shaped by selective historical
                accounts and an occupying force that restricts access to the reality of on the
                ground.
              </p>
              <p
                class="relative mb-6 mt-4 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none"
              >
                The community at Tech for Palestine is shifting the conversation towards equality
                and justice, by cultivating a garden of projects and services that shut down
                genocidal speech, enable people to speak up for Palestinian freedom, scale
                Palestinian activism with technology, and cultivate fierce advocates for Palestine
                within the Tech community.
              </p>
              <div>
                <!-- Button Container -->
                <div class="mt-8 flex flex-col justify-center gap-4 md:flex-row">
                  <!-- Projects Button -->
                  <a
                    href="/project"
                    class="inline-flex w-40 items-center justify-center gap-2 rounded-md bg-green-800 px-4 py-2 font-semibold text-white shadow-sm transition-colors hover:bg-green-900"
                  >
                    Explore Projects
                    <!-- Chevron Icon -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      class="ml-2 h-5 w-5"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                    </svg>
                  </a>

                  <!-- Get Involved Button -->
                  <a
                    href="/get-involved"
                    class="inline-flex w-40 items-center justify-center gap-2 rounded-md bg-red-800 px-4 py-2 font-semibold text-white shadow-sm transition-colors hover:bg-red-900"
                  >
                    Get Involved
                    <!-- Chevron Icon -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      class="ml-2 h-5 w-5"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                    </svg>
                  </a>

                  <!-- Join Discord Button -->
                  <a
                    href="/discord-invite"
                    class="inline-flex w-40 items-center justify-center gap-2 rounded-md bg-blue-800 px-4 py-2 font-semibold text-white shadow-sm transition-colors hover:bg-blue-900"
                  >
                    Join Discord
                    <!-- Chevron Icon -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      class="ml-2 h-5 w-5"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0"
            >
              <div
                class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80"
              >
                <div class="relative">
                  <img
                    src="/protest-dc.jpg"
                    alt="Palestine solidarity march in Washington DC with demonstrators carrying Palestinian flags near Capitol building"
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
              </div>
              <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                <div class="relative">
                  <img
                    src="/gaza-sky-geeks.webp"
                    alt="A woman working on a laptop at Gaza Sky Geeks technology center"
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
                <div class="relative">
                  <img
                    src="/jerusalem.jpg"
                    alt="Dome of the Rock in Jerusalem, Palestine, silhouetted against dramatic sunset sky with orange and purple clouds"
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                <div class="relative">
                  <img
                    src="/olive-branch-thobe.jpg"
                    alt="Woman in traditional Palestinian embroidered thobe holding an olive branch, wearing ornate gold coin headpiece against olive tree background"
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
                <div class="relative">
                  <img
                    src="/gaza-father-child.avif"
                    alt="Silhouette of a Palestinian father playfully tossing child in the air against Gaza cityscape at sunset with vibrant orange and purple sky"
                    class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                  />
                  <div
                    class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content section -->
    <div class="mx-auto -mt-12 max-w-7xl px-6 sm:mt-0 lg:px-8 xl:-mt-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Founder</h2>
        <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
          <div>
            <p class="text-l mt-2 leading-snug text-gray-600">
              Paul Biggar is a tech founder and software engineer. He founded Tech For Palestine, <a
                href="https://circleci.com">CircleCI</a
              > and
              <a href="https://darklang.com">Darklang</a>.
            </p>
            <p class="text-l mt-2 leading-snug text-gray-600">
              Read why <a href="https://blog.paulbiggar.com/i-cant-sleep/">Paul couldn't sleep</a> -
              the post that started Tech for Palestine.
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What we do</h2>
        <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
          <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
            <p class="text-xl leading-8 text-gray-600">
              We empower a global community of skilled tech professionals to unite in their
              unwavering support of Palestine so that we can:
              <ul class="mt-3 list-disc">
                <li class="ml-9 text-gray-600">
                  <p class="text-xl leading-8 text-gray-600">Disrupt conventional narratives</p>
                </li>
                <li class="ml-9 text-gray-600">
                  <p class="text-xl leading-8 text-gray-600">Capture systems of power</p>
                </li>
                <li class="ml-9 text-gray-600">
                  <p class="text-xl leading-8 text-gray-600">
                    Accelerate pro-Palestinian organizing and public awareness efforts, both online
                    and off
                  </p>
                </li>
              </ul>
            </p>
          </div>
        </div>
        <br />
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What we want</h2>
          <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
            <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
              <p class="text-xl leading-8 text-gray-600">
                <ul class="mt-3 list-disc">
                  <li class="ml-9 text-gray-600">
                    <p class="text-xl leading-8 text-gray-600">
                      <span class="font-bold"> A more ethical tech industry </span>
                      that works to abolish the conditions for authoritarianism, surveillance, occupation,
                      and apartheid in favor of those that promote justice, equality, and human rights.
                    </p>
                  </li>
                  <li class="ml-9 text-gray-600">
                    <p class="text-xl leading-8 text-gray-600">
                      <span class="font-bold">
                        To draw on decades of pro-Palestinian advocacy
                      </span>
                      while building the T4P community. We humbly learn from the wider community and
                      contribute to it in aim of the main goal of liberation for Palestine.
                    </p>
                  </li>
                  <li class="ml-9 text-gray-600">
                    <p class="text-xl leading-8 text-gray-600">
                      <span class="font-bold"> To be a catalyst </span>
                      for the reformed tech industry, aimed at abolishing apartheid and promoting human
                      empowerment and development.
                    </p>
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <br />
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">How we work</h2>
          <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
            <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
              <p class="text-xl leading-8 text-gray-600">
                <ul class="mt-3 list-disc">
                  <li class="ml-9 text-gray-600">
                    <p class="text-xl leading-8 text-gray-600">
                      We connect project leaders to communities of volunteers
                    </p>
                  </li>
                  <li class="ml-9 text-gray-600">
                    <p class="text-xl leading-8 text-gray-600">
                      We mentor, provide office hours, and support start-up projects aimed at ending
                      apartheid, minimizing media bias, encouraging boycotts, and more
                    </p>
                  </li>
                  <li class="ml-9 text-gray-600">
                    <p class="text-xl leading-8 text-gray-600">
                      We create a community of pro-Palestinian techies to get involved in causes
                      they believe in and help Palestinians get hired
                    </p>
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <br />
        <a
          href="/projects"
          class="inline-flex h-10 items-center justify-center gap-2 whitespace-nowrap rounded-md bg-green-800 px-3 text-base font-medium text-white transition-colors hover:bg-green-900 focus:outline-none"
        >
          Learn more about our Projects
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
          </svg>
        </a>
      </div>
      <br />
      <div class="relative -m-12 mx-auto mt-12 max-w-screen-md px-6 pb-24 sm:mt-20 md:px-8">
        <SignUpForm />
      </div>
    </div>
  </main>

  <!-- Image section -->
  <div class="mt-12 pb-24 sm:mt-20 xl:mx-auto xl:max-w-7xl xl:px-8">
    <img
      src="/gaza-children-playing-ocean.jpg"
      alt="Palestinian children playing joyfully in ocean waves at sunset on Gaza's Mediterranean coastline"
      class="aspect-[5/2] w-full object-cover xl:rounded-3xl"
    />
  </div>
</Layout>
