---
import SignUpForm from "../structures/SignUpForm.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

    <Layout title="Donate">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 80vh; width: 100%;">
            <div style="margin-bottom: 20px;">
                <h1><b>THANK YOU FOR CONSIDERING A DONATION!</b></h1>
                <p style="margin-top: 20px;">After launching Tech For Palestine last year, we've helped bring a number of impactful projects to life. Projects like Media Bias Meter, Boycat, Find a Protest, and Newscord.</p>
                <p>Now, we need your support. Your donation will allow us to hire professionals, strengthen existing projects, and create even more initiatives for a free Palestine. </p>
            </div>

            <div data-entity="EMBED_FORM" data-source="CharityStack" id="1546c2c2-a580-4994-bbb3-9e643aed1309"></div>

            <p style="margin-top: 20px;">
                Tech for Palestine is a registered 501(c)(3) nonprofit.
            </p>
            <p style="margin-top: 20px;">If you’d like to donate through a Donor-Advised Fund (DAF), family trust, or other structured giving method, please email <b>donations@techforpalestine.org</b> so we can assist you.
            </p>
        </div>

        <!-- CharityStack Embed Script -->
        <script
            type="text/javascript"
            defer
            id="charitystack-embed"
            data-id="M_lDGj72xT61"
            src="https://prod-donation-elements-b-donationelementsjsfilesb-1m4f4dl6p6b21.s3.us-east-2.amazonaws.com/bundle.js">
        </script>
    </Layout>
