---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Donate - Form 2">
    <div class="mx-auto max-w-4xl px-4 py-8">
        <div class="qgiv-embed-container" data-qgiv-embed="true" data-embed-id="83460" data-embed="https://secure.qgiv.com/for/techforpalestine-websitedonationform/embed/83460/amount/1620629/recurring/" data-width="630"></div>
    </div>

    <script>(function(w, d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;(js as HTMLScriptElement).src = "https://secure.qgiv.com/resources/core/js/embed.js";fjs.parentNode?.insertBefore(js, fjs);})(window, document, 'script', 'qgiv-embedjs');</script>
</Layout>