---
import SignUpForm from "../structures/SignUpForm.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Donate">
    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <p> To donate to Tech for Palestine, a registered 501(c)(3) nonprofit, please email <b>donations@techforpalestine.org</b></p>
    </div>
    <div data-entity="EMBED_FORM" data-source="CharityStack" id="1546c2c2-a580-4994-bbb3-9e643aed1309"></div>
</Layout>