---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
import ArrowIcon from "../components/ArrowIcon.astro";
---

<Layout title="Get Involved">
  <main>
    <div class="relative isolate -z-10">
      <div class="px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
          >
            Get Involved
          </h2>
          <!-- <p class="mt-6 text-lg leading-8 text-gray-600">
                        Anim aute id magna aliqua ad ad non deserunt sunt. Qui
                        irure qui lorem cupidatat commodo. Elit sunt amet fugiat
                        veniam occaecat fugiat aliqua.
                    </p> -->
        </div>
      </div>
    </div>
    <!-- Content section -->
    <div class="mb-24 mx-auto -mt-12 max-w-7xl px-6 sm:mt-0 lg:px-8 xl:-mt-8">
      <div
        class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-200 shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0"
      >
        <div
          class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500"
        >
          <div>
            <span
              class="inline-flex rounded-lg p-3 bg-teal-50 text-teal-700 ring-4 ring-white"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
              <a
                href="https://techforpalestine.org/volunteer-form"
                class="focus:outline-none"
              >
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                Volunteer With Us
              </a>
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Sign up and we'll work to connect you to a project that needs your
              skills.
            </p>
            <p class="mt-2 text-sm text-gray-500">
              <a
                class="relative z-10"
                href="https://techforpalestine.notion.site/75a9979ec7de4a7db123e54e56546f27?v=d641a2a6722047efbc18a323ece981d0&pvs=74"
                >Check out specific roles we're looking for right now!</a
              >
            </p>
          </div>
          <span
            class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
            aria-hidden="true"
          >
            <ArrowIcon />
          </span>
        </div>
        <div
          class="sm:rounded-tr-lg group relative bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500"
        >
          <div>
            <span
              class="inline-flex rounded-lg p-3 bg-purple-50 text-purple-700 ring-4 ring-white"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
                ></path>
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
              <a
                href="https://techforpalestine.org/project-leader-form"
                class="focus:outline-none"
              >
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                Become a Project Leader
              </a>
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Apply for a project leadership position to build, drive, and scale
              one of our projects
            </p>
          </div>
          <span
            class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
            aria-hidden="true"
          >
            <ArrowIcon />
          </span>
        </div>
        <div
          class="group relative bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500"
        >
          <div>
            <span
              class="inline-flex rounded-lg p-3 bg-sky-50 text-sky-700 ring-4 ring-white"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
                ></path>
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
              <a
                href="https://techforpalestine.org/project-application-form"
                class="focus:outline-none z-9"
              >
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                Apply for the T4P Incubator
              </a>
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Does your project need help building and scaling? Join our
              incubator to get access to volunteers, publicity, advice,
              mentorship, and a network to help you achieve your vision.
            </p>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            <a
              class="relative z-10"
              href="https://techforpalestine.org/incubator/details"
              >Read more about the incubator</a
            >, or

            <a
              class="relative z-10"
              href="https://techforpalestine.org/incubator/ideas"
              >ideas for projects to start.</a
            >
          </p>
          <span
            class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
            aria-hidden="true"
          >
            <ArrowIcon />
          </span>
        </div>
        <div
          class="group relative bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500"
        >
          <div>
            <span
              class="inline-flex rounded-lg p-3 bg-yellow-50 text-yellow-700 ring-4 ring-white"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
                ></path>
              </svg>
            </span>
          </div>
          <div class="mt-8">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
              <a href="#" class="focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                Request Volunteers (Coming Soon)
              </a>
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              Our volunteer coordinators help you get passionate and
              mission-driven volunteers for your projects
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
