---
import HomeLayout from "../layouts/HomeLayout.astro";
import HeroSection from "../components/home/HeroSection.astro";
import ManifestoSection from "../components/home/ManifestoSection.astro";
import PortfolioSection from "../components/home/PortfolioSection.astro";
import SupportSection from "../components/home/SupportSection.astro";
---

<HomeLayout
  title="Tech For Palestine"
  description="A coalition of thousands of founders, engineers, product marketers, investors and other professionals working in support of Palestinian liberation."
>
  <link rel="preload" as="image" href="/images/new-homepage/hero.webp" fetchpriority="high" slot="head" />
  <main>
    <HeroSection />
    <ManifestoSection />
    <PortfolioSection />
    <SupportSection />
  </main>
</HomeLayout>
