---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---
<Layout title="ICJ Hearing Information">
  <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
  <main>
    <section class="w-full mx-auto max-w-screen-md space-y-8 px-6 md:px-8 bg-white">
        <div class="text-center items-center justify-center min-h-fit py-16 space-y-6">
            <div class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
                <img src="https://radiojamaicanewsonline.com/assets/img/stories/display_pic/1704833769national_Court_of_Justice.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover opacity-50"/>
                <div class="mx-auto max-w-2xl text-center">
                    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Watch ICJ Hearing</h2>
                    <p class="mt-6 text-lg leading-8 text-white">Support South Africa's call for an end to #GazaGenocide by tuning into the International Court of Justice hearing this Thursday, January 11th 2024</p>
                </div>
            </div>
            <div class="flex justify-center">
                <add-to-calendar-button
                    styleLight="--btn-background: #01B861; --btn-text: #fff; --font: Georgia, 'Times New Roman', Times, serif;"
                    styleDark="--btn-background: #01B861;"
                    name="[Reminder] ICJ Hearing: South Africa case against Israel"
                    description='LIVE STREAMS: https://www.icj-cij.org/home or https://media.un.org/en/webtv'
                    options="'Apple','Google','iCal','Outlook.com','Yahoo','MicrosoftTeams','Microsoft365'"
                    location="The Hague, Netherlands"
                    startDate="2024-01-11"
                    endDate="2024-01-11"
                    startTime="10:00"
                    endTime="12:00"
                    timeZone="Europe/Amsterdam"
                    hideBranding={true}
                />
            </div>
            <div class="space-y-6 text-sm text-justify">
                <p>On Thursday, January 11th 2024, the International Court of Justice will hold a public hearing at the Peace Palace in The Hague, the seat of the Court, in the proceedings instituted by South Africa against Israel on 29 December 2023.</p>
                <p>The hearing will be devoted to the Request for the indication of provisional measures contained in South Africa’s Application. <b>In its Request, South Africa asks the Court to indicate provisional measures in order to “protect against further, severe and irreparable harm to the rights of the Palestinian people under the Genocide Convention” and “to ensure Israel’s compliance with its obligations under the Genocide Convention not to engage in genocide, and to prevent and to punish genocide”.</b>
                </p>
                <p>More information on the hearings <a class="text-blue-600 hover:text-blue-900" href="https://www.icj-cij.org/index.php/case/192">here</a>. 
            </div>
        </div>
      </section>
  </main>
</Layout>
