---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
import DiscordButton from "../structures/DiscordButton.astro";
---

<Layout title="Incubator">
  <main>
    <div class="relative isolate">
      <div class="px-6 py-10 sm:py-16 lg:px-8">
        <div class="mx-auto max-w-4xl">
          <h2
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-6xl text-center"
          >
            <span class="text-base sm:text-3xl">Welcome to the</span><br />
            <span class="text-4xl sm:text-6xl">Tech for Palestine Incubator</span>
          </h2>
          <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
            The Tech for Palestine incubator isn’t typical — it is an allyship,
            a community, and a source of mentorship that draws on decades of
            tech entrepreneurship, engineering, and aligned solidarity to build
            tech that matters.
          </p>
          <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
            We take on a limited number of projects to support with our
            expertise, and are happy to promote other community and affiliated
            projects that could use some airtime.
          </p>
        </div>
        <div class="flex flex-col md:flex-row gap-4 justify-center mt-7">
          <a
            target="_blank"
            href="/get-involved"
            class="inline-flex items-center gap-2 justify-center whitespace-nowrap transition-colors rounded-md bg-red-800 hover:bg-green-900 px-3 h-10 text-base font-medium text-white focus:outline-none"
          >
            Get Involved
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
              ></path>
            </svg>
          </a>
          <DiscordButton>Join Our Discord</DiscordButton>
        </div>
      </div>
    </div>
  </main>
  <!-- Content section -->
  <div class="mx-auto max-w-4xl">
    <p
      class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none"
    >
      By joining, you will get:
    </p>
    <ul class="list-disc list-inside mt-4 text-lg leading-8 text-gray-600">
      <li>
        Be part of a community and work with others doing similar activities
      </li>
      <li>
        To join an “office hours” call 3x a week (optional) with other leaders
        and management
        <ul class="list-disc list-inside ml-6">
          <li>Excellent for motivation and sharing learnings</li>
          <li>Discuss challenges</li>
          <li>Meet other project leaders</li>
          <li>Get resources and advice from T4P management</li>
          <li>Optional, stop in when you like</li>
        </ul>
      </li>
      <li>
        Membership of a Discord server with other dedicated project leaders
      </li>
      <li>
        Significant help from the T4P team
        <ul class="list-disc list-inside ml-6">
          <li>Help refining your vision to have high impact</li>
          <li>Access to our volunteer DB (2000 people and growing)</li>
          <li>
            (Optional) an experienced mentor, usually an experienced startup
            founder
          </li>
          <li>
            Marketing support
            <ul class="list-disc list-inside ml-6">
              <li>Launch coordination</li>
              <li>User discovery tweets or similar</li>
              <li>Listing on the T4P website</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        In some cases the ability to brand as T4P (e.g., a T4P email address or
        use the logo or call yourself sponsored) — determined on a case-by-case
        basis
      </li>
    </ul>
    <p
      class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none"
    >
      If you choose to be part of this, we expect:
    </p>
    <ul class="list-disc list-inside mt-4 text-lg leading-8 text-gray-600">
      <li>
        That you are attempting to make your project high impact (for example,
        getting to ten million users; obviously success metrics will depend on
        the project)
      </li>
      <li>
        Keep us updated — at the moment this means at least attending one “office
        hours” each week or posting a weekly status update in the “Project
        Leaders” channel
        <ul class="list-disc list-inside ml-6">
          <li>
            <a
              href="https://www.notion.so/Weekly-Updates-Share-out-Sample-dfa6c71eb0dd47918f18520a41d409a1?pvs=21"
              target="_blank"
            >
              Weekly Updates/Share-out Sample
            </a>
          </li>
        </ul>
      </li>
      <li>
        You to hang out a bit in the community, be a resource, ask questions,
        etc
      </li>
      <li>
        You to understand if it no longer fits or isn’t working, we may remove
        membership. We hope it won’t cause hard feelings if that happens
      </li>
    </ul>
    <p
      class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none"
    >
      What we don’t require / expect:
    </p>
    <ul class="list-disc list-inside mt-4 text-lg leading-8 text-gray-600">
      <li>Being in the meeting every day or even every week</li>
      <li>That your project be an “official” or T4P branded project</li>
      <li>
        Using T4P channels / infra for running projects
        <ul class="list-disc list-inside ml-6">
          <li>
            Please feel free to continue using whatever community, project
            management software, tooling, infra, etc, works for you
          </li>
        </ul>
      </li>
    </ul>
    <h2
      class="text-3xl font-bold tracking-tight sm:text-4xl text-green-800 mt-8"
    >
      To Join
    </h2>
    <ul class="list-disc list-inside mt-4 text-lg leading-8 text-gray-600">
      <li>
        If you have a project you are leading:
        <ul class="list-disc list-inside ml-6">
          <li>
            <a
              href="https://techforpalestine.org/project-application-form"
              target="_blank"
            >
              Apply to join with your project
            </a>
          </li>
        </ul>
      </li>
      <li>
        If you would like to lead a project but don’t know what project to lead
        <ul class="list-disc list-inside ml-6">
          <li>
            Apply to be a
            <a
              href="https://techforpalestine.org/project-leader-form"
              target="_blank"
            >
              project leader
            </a>
            Here’s a
            <a
              href="https://techforpalestine.org/incubator/ideas"
              target="_blank"
            >
              list of projects we’d love to get started
            </a>
            !
          </li>
        </ul>
      </li>
      <li>
        If you don’t want to lead a project
        <ul class="list-disc list-inside ml-6">
          <li>
            Fill in the
            <a
              href="https://techforpalestine.org/volunteer-form"
              target="_blank"
            >
              volunteer application form
            </a>
            to get connected to a project
          </li>
        </ul>
      </li>
      <li>If you have already applied, we’ll be in touch</li>
    </ul>
    <h2
      class="text-3xl font-bold tracking-tight sm:text-4xl text-green-800 mt-8"
    >
      What’s next?
    </h2>
    <ul class="list-disc list-inside mt-4 text-lg leading-8 text-gray-600">
      <li>We will do an interview</li>
      <li>
        If admitted, you’ll get notified and given access to the private
        channels
        <ul class="list-disc list-inside ml-6">
          <li>Say hi, introduce yourself</li>
          <li>
            Come to 11:30am EST meeting(s) on Tuesday, Thursdays and Saturdays
            <ul class="list-disc list-inside ml-6">
              <li>
                This is great for being part of a community of like-minded folks
                and meeting people and getting resources and advice
              </li>
            </ul>
          </li>
          <li>
            In the meeting or channel you can ask us for:
            <ul class="list-disc list-inside ml-6">
              <li>A mentor</li>
              <li>Volunteers</li>
              <li>
                Help getting early users using our social media channels, our
                community
              </li>
              <li>Launches on social media</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</Layout>
