---
import Layout from "../layouts/Layout.astro";
import SignUpForm from "../structures/SignUpForm.astro";
import "../styles/base.css";
---

<Layout title="Tech For Palestine">
  <main>
    <section
      class="text-center items-center justify-center min-h-fit py-24 space-y-12"
    >
      <div class="w-full mx-auto max-w-screen-lg space-y-8 px-4">
        <h1 class="text-6xl md:text-8xl font-medium tracking-tight">
          Tech for Palestine
        </h1>
        <p class="text-lg md:text-xl">
          A loose coalition of over 25 founders, engineers, product marketers,
          community builders, investors, and other tech folks working towards
          Palestinian freedom.
        </p>
        <p>
          Our goal is to change tech by normalizing the idea that Palestinians
          are people, and enableing tech founders, employees, and investors, to
          speak up for Palestinian lives.
        </p><p>
          We are working on
          <a href="https://github.com/orgs/TechForPalestine"
            >multiple projects</a
          >, and <a
            href="https://github.com/orgs/TechForPalestine/discussions/categories/volunteers"
            >need volunteers</a
          >.<p></p>
          <div class="mx-auto max-w-screen-sm px-4">
            <SignUpForm />
          </div>
        </p>
      </div>
    </section>
  </main>
</Layout>
