---
import Layout from "../layouts/Layout.astro";
import SignUpForm from "../structures/SignUpForm.astro";
import "../styles/base.css";
import ArrowIcon from "../components/ArrowIcon.astro";
---

<Layout title="Tech For Palestine">
  <main>
    <section class="grid grid-cols-1 lg:grid-cols-2 items-center bg-white">
      <div
        class="text-center items-center justify-center min-h-fit py-16 space-y-12"
      >
        <div class="w-full mx-auto max-w-screen-md space-y-8 px-6 md:px-8">
          <h1 class="text-6xl font-bold tracking-tight">Tech for Palestine</h1>
          <div><h1><b>THIS IS A DEV SITE</b></h1></div>
          <p class="text-lg md:text-xl">
            Tech for Palestine (“T4P”) is a coalition of thousands of founders, engineers, product marketers, investors and other professionals who are working in support of Palestinian liberation.
          </p>
          <p>
            The T4P Incubator helps pro-Palestine advocates build, grow, and scale their work towards a Free Palestine. We support projects — whether collections of individuals, registered non-profits, or even companies — whose mission helps Palestine, especially advocacy groups building technical products or in the tech space.

          </p>
          <p>
            The Incubator is free, and provides volunteers, marketing support, mentorship, and connections to the broader Palestinian advocacy ecosystem.


          </p>

          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Want to get involved?
          </h2>
          <p class="text-lg md:text-xl">
            What started as an aligned collective on a Discord server has grown
            into a non-profit incubator that supports projects from idea to
            launch.
          </p>

          <div class="flex flex-col md:flex-row gap-4 justify-center">
            <a
              href="/incubator"
              class="p-2 group rounded-md border border-gray-300 hover:bg-gray-100 hover:text-gray-800 flex-1 bg-green-800 text-white relative"
            >
              <span
                class="pointer-events-none text-gray-300 group-hover:text-gray-400 absolute top-2 right-2"
                aria-hidden="true"
              >
                <ArrowIcon />
              </span>
              <h4 class="font-medium text-xl mb-2">Project Incubator</h4>
              <p>
                Submit your project to get mentorship and access to a skilled,
                supportive tech community
              </p>
            </a>
            <a
              href="/get-involved"
              class="p-2 group rounded-md border border-gray-300 hover:bg-gray-100 hover:text-gray-800 flex-1 bg-red-800 text-white relative"
            >
              <span
                class="pointer-events-none text-gray-300 group-hover:text-gray-400 absolute top-2 right-2"
                aria-hidden="true"
              >
                <ArrowIcon />
              </span>
              <h4 class="font-medium text-xl mb-2">Volunteer</h4>
              <p>
                Apply to volunteer for any of our current or future projects
              </p>
            </a>
            <a
              href="https://techforpalestine.org/discord-invite"
              class="p-2 group rounded-md border border-gray-300 hover:bg-gray-100 bg-black text-white hover:text-gray-800 flex-1 relative"
            >
              <span
                class="pointer-events-none text-gray-300 group-hover:text-gray-400 absolute top-2 right-2"
                aria-hidden="true"
              >
                <ArrowIcon />
              </span>
              <h4 class="font-medium text-xl mb-2">Community</h4>
              <p>
                Get involved by finding like-minded tech folk on our Discord
                server
              </p>
            </a>
          </div>
        </div>
      </div>
      <figure class="bg-zinc-50 relative">
        <img
          src="/happy-kids.jpg"
          class="object-cover w-full h-[32rem] lg:h-[42rem]"
          alt="Happy kids in Palestine"
        />
        <figcaption class="absolute right-2 bottom-2 text-xs text-white">
          ®Motaz Azaiza
        </figcaption>
      </figure>
    </section>
    <section>
      <div
        class="mx-auto max-w-screen-md px-6 md:px-8 -m-12 relative pb-24 z-0"
      >
        <SignUpForm />
      </div>
    </section>
  </main>
</Layout>
