---
import Layout from "../layouts/Layout.astro";
import SignUpForm from "../structures/SignUpForm.astro";
import "../styles/base.css";
---

<Layout title="Tech For Palestine">
  <main>
    <section
      class="text-center items-center justify-center min-h-fit py-24 space-y-12"
    >
      <div class="w-full mx-auto max-w-screen-lg space-y-8 px-4">
        <h1 class="text-6xl md:text-8xl font-medium tracking-tight">
          Tech for Palestine
        </h1>
        <p class="text-lg md:text-xl">
          Nobody feels that they can speak up for Palestine, and all the while
          there is a US-funded genocide in Gaza. We are a loose collection of
          tech folks working to normalize speaking up for Palestine in tech. We
          run small projects that help normalize Palestinian humanity in
          different ways.
        </p>
      </div>
      <div class="mx-auto max-w-screen-sm px-4">
        <SignUpForm />
      </div>
    </section>
  </main>
</Layout>
