---
import Layout from "../layouts/Layout.astro";
import ProjectsList from "../structures/ProjectsList.astro";

import "../styles/base.css";
---

<Layout title="Tech For Palestine">
    <main>
        <ProjectsList />
    </main>
</Layout>
