---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Launch a Project">
  <h2 class="text-2xl text-center font-bold my-5">Project Application Form</h2>
  <div class="flex justify-center">
    <div class="h-[70vh] w-2/5 overflow-auto">
      <iframe
          src="https://app.formbricks.com/s/clzax64r70000v39tqtnvg558?embed=true"
          class="h-full w-full">
      </iframe>
    </div>
  </div>
</Layout>
