---
// src/pages/project.astro
    ---
        <html>
        <head>
            <meta http-equiv="refresh" content="0; URL=/projects" />
            <link rel="canonical" href="/projects" />
        </head>
        <body>
        <p>Redirecting to <a href="/projects">/projects</a>...</p>
        </body>
        </html>
