---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/base.css";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

const renderedProjects = await Promise.all(
  projects.map(async (project) => {
    const { Content } = await project.render();
    return { ...project, Content };
  }),
);
---

<Layout title="Projects">
  <main>
    <div class="relative isolate">
      <div class="px-6 py-10 sm:py-16 lg:px-8">
        <div class="mx-auto max-w-4xl">
          <h2
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl text-center"
          >
            Tech for Palestine Incubator Projects.
          </h2>
        </div>
      </div>
    </div>
  </main>
  <!-- Content section -->
  <div class="mx-auto max-w-4xl">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 pt-8">
    {
      renderedProjects.map((project) => (
        <Card>
          <h3 class="font-bold text-xl text-green-800 mb-4">
            {project.data.title}
          </h3>
          
    {/* Conditionally render the links if at least one exists */}
        {(project.data.url || project.data.channel) && (
          <div class="mb-4 text-sm">
            {project.data.url && (
              <a href={project.data.url}>Website</a>
            )}
            {project.data.url && project.data.channel && ' | '}
            {project.data.channel && (
              <a href={project.data.channel}>Discord Channel</a>
            )}
          </div>
        )}
          
          <div class="text-gray-600">
            <project.Content />
          </div>
        </Card>
      ))
    }

    </div>
  </div>
</Layout>
