---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Project Status Report">
  <h2 class="text-2xl text-center font-bold my-5">Project Status Report</h2>
  <div class="flex justify-center">
    <div class="h-[70vh] w-2/5 overflow-auto">
      <iframe
          src="https://app.formbricks.com/s/clzaxjvvy0000l0lr0gvhwhp8" 
          class="h-full w-full">
      </iframe>
    </div>
  </div>
</Layout>
