---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Ramadan Fundraiser 2025">
  <main>
    <div class="relative isolate">
      <div class="px-6 py-10 sm:py-16 lg:px-8">
        <div class="mx-auto max-w-4xl">
          <h1
            class="mt-2 text-center text-4xl font-extrabold tracking-tight text-gray-900 sm:text-6xl"
          >
            Ramadan Fundraiser 2025
          </h1>
          <p class="mt-6 text-center text-lg leading-8 text-gray-600">
            Prepare for Ramadan by scheduling your daily donations now. Choose one of the donation
            options below.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-8 flex flex-col items-center justify-center gap-8 px-4 md:flex-row">
      <!-- Form 1 -->
      <div class="flex w-full max-w-lg flex-col items-center md:w-1/2">
        <p class="text-center text-xl font-semibold text-gray-800">DAILY FULL MONTH</p>
        <p class="text-center text-lg text-gray-600">
          <i>Sign up now to AUTOMATE your daily donations</i>
        </p>
        <div class="mt-4 w-full rounded-lg bg-white p-6 shadow-md">
          <div
            data-entity="EMBED_FORM"
            data-source="CharityStack"
            id="f914734d-c9a3-4088-bb87-ec0b929da86e"
          >
          </div>
        </div>
        <p class="text-center text-lg text-gray-600">
          <i
            >Automated reoccurring daily donations for the full month of Ramadan will start from
            *March 4th, 2025 until March 30th, 2025*. Daily withdrawals will occur nightly at 9pm
            EST.</i
          >
        </p>
      </div>
      <!-- Form 2 -->
      <div class="flex w-full max-w-lg flex-col items-center md:w-1/2">
        <p class="text-center text-xl font-semibold text-gray-800">THE LAST 10 NIGHTS</p>
        <p class="text-center text-lg text-gray-600">
          <i>Sign up now to AUTOMATE your last 10 nights of donations!!</i>
        </p>
        <div class="mt-4 w-full rounded-lg bg-white p-6 shadow-md">
          <div
            data-entity="EMBED_FORM"
            data-source="CharityStack"
            id="f914734d-c9a3-4088-bb87-ec0b929da86e"
          >
          </div>
        </div>
        <p class="text-center text-lg text-gray-600">
          <i
            >Automated reoccurring daily donations for the last 10 nights of Ramadan will start from
            *March 20th, 2025 until March 30th, 2025*. Daily withdrawals will occur nightly at 9pm
            EST.</i
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
