---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---

<Layout title="Ramadan Fundraiser 2025">
  <main>
    <div class="relative isolate">
      <div class="px-6 py-10 sm:py-16 lg:px-8">
        <div class="mx-auto max-w-4xl">
          <h1 class="mt-2 text-4xl sm:text-6xl font-extrabold tracking-tight text-gray-900 text-center">
            Ramadan Fundraiser 2025
          </h1>
          <p class="mt-6 text-lg leading-8 text-gray-600 text-center">
            Prepare for Ramadan by scheduling your daily donations now. Choose one of the donation options below.
          </p>
        </div>
      </div>
    </div>
      <div class="flex flex-col md:flex-row gap-8 justify-center items-center mt-8 px-4">
        <!-- Form 1 -->
        <div class="flex flex-col items-center w-full md:w-1/2 max-w-lg">
          <p class="text-xl font-semibold text-gray-800 text-center">DAILY FULL MONTH</p>
          <p class="text-lg text-gray-600 text-center"><i>Sign up now to AUTOMATE your daily donations</i></p>
          <div class="bg-white p-6 rounded-lg shadow-md w-full mt-4">
            <div data-entity="EMBED_FORM" data-source="CharityStack" id="f914734d-c9a3-4088-bb87-ec0b929da86e"></div>
          </div>
          <p class="text-lg text-gray-600 text-center"><i>Automated reoccurring daily donations for the full month of Ramadan will start from *March 4th, 2025 until March 30th, 2025*.
Daily withdrawals will occur nightly at 9pm EST.</i></p>
        </div>
      <!-- Form 2 -->
      <div class="flex flex-col items-center w-full md:w-1/2 max-w-lg">
          <p class="text-xl font-semibold text-gray-800 text-center">THE LAST 10 NIGHTS</p>
          <p class="text-lg text-gray-600 text-center"><i>Sign up now to AUTOMATE your last 10 nights of donations!!</i></p>
          <div class="bg-white p-6 rounded-lg shadow-md w-full mt-4">
            <div data-entity="EMBED_FORM" data-source="CharityStack" id="f914734d-c9a3-4088-bb87-ec0b929da86e"></div>
          </div>
          <p class="text-lg text-gray-600 text-center"><i>Automated reoccurring daily donations for the last 10 nights of Ramadan will start from *March 20th, 2025 until March 30th, 2025*.
Daily withdrawals will occur nightly at 9pm EST.</i></p>
        </div>
      </div>
  </main>
</Layout>

