---
import Layout from '../layouts/Layout.astro';
import FAQList from '../components/FAQList.tsx';
import "../styles/base.css";

---

    <Layout title="Resources">
        <main>
            <div class="relative isolate">
                <div class="px-6 py-10 sm:py-16 lg:px-8">
                    <div class="mx-auto max-w-4xl">
                        <!-- Title -->
                        <h1 class="mt-2 text-4xl sm:text-6xl font-extrabold tracking-tight text-gray-900 text-center">
                            Welcome to the <br class="hidden sm:block" />
                            <span class="text-green-800">Tech for Palestine Resources</span>
                        </h1>

                        <!-- Description -->
                        <p class="mt-6 text-lg leading-8 text-gray-600 text-center">
                            The Tech for Palestine Resources page provides key information and tools to support the tech community and non-profits in their journey toward building tech solutions for a better future.
                        </p>

                    </div>

                </div>
            </div>
        </main>

        <!-- FAQ List Section -->
        <section style="max-width: 700px; margin: 2rem auto;">
            <h2>Frequently Asked Questions</h2>
            <FAQList client:only="react" />
        </section>
    </Layout>
