---
import Layout from "../layouts/Layout.astro";
import "../styles/base.css";
---
<Layout title="Volunteer with us">
  <h2 class="text-2xl text-center font-bold my-5">Volunteer with Us</h2>
  <div class="flex justify-center">
    <div class="h-[70vh] w-2/5 overflow-auto">
      <iframe
          src="https://app.formbricks.com/s/clzavvkp80002yqhejhqgoa3a?embed=true" 
          class="h-full w-full">
      </iframe>
    </div>
  </div>
</Layout>
