---
interface Props {
  type?: "button" | "submit" | "reset";
}

const { type = "button" } = Astro.props;
---

<button
  type={type}
  class="inline-flex items-center gap-2 justify-center whitespace-nowrap transition-colors rounded bg-green-800 hover:bg-green-900 px-2 h-10 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
>
  <slot />
</button>
