<div
  class="bg-white rounded-md p-6 md:p-8 shadow-sm"
  style="
    border-top: 3px solid black;
    border-bottom: 3px solid green;
    border-left: 3px solid red;
    border-right: none;
  "
>
  <slot />
</div>
