---
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";

const socials = [
  {
    name: "Twitter",
    url: "https://twitter.com/tech4palestine",
    icon: "mdi:twitter",
  },
  {
    name: "GitHub",
    url: "https://github.com/TechForPalestine/",
    icon: "bi:github",
  },
  {
    name: "Discord",
    url: "https://techforpalestine.org/discord-invite",
    icon: "ic:baseline-discord",
  },
];
---

<footer>
  <Container>
    <div
      class="py-4 flex gap-4 flex-col md:flex-row justify-between items-center text-xs text-zinc-950/60"
    >
      <div>
        <p>
          &copy; {new Date().getFullYear()} TechForPalestine. All rights
          reserved.
        </p>
      </div>
      <div>
        <ul class="flex space-x-4">
          {
            socials.map((social) => (
              <li>
                <a
                  href={social.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-zinc-950/60 hover:text-zinc-950/80"
                >
                  <span class="sr-only">{social.name}</span>
                  <Icon name={social.icon} class="w-6 h-6" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</footer>
