---
const { text = "I am a tooltip info!" } = Astro.props;
---

<div class="tooltip">
  <slot />
  <span class="tooltiptext">{text}</span>
</div>
<style>
  .tooltip {
    @apply relative inline-block;
  }

  .tooltip .tooltiptext {
    @apply invisible;
    @apply w-full bg-black;
    @apply text-center text-white;
    @apply rounded-md;
    @apply absolute bottom-11 left-0;
    @apply p-2;
    @apply z-10;
  }

  .tooltip:hover .tooltiptext {
    @apply visible;
  }
</style>
